layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane edit="src/main.rs"
        pane name="log" command="bash" {
            args "-c" "id -u | xargs -I {} bash -c 'tail -f /tmp/zellij-{}/zellij-log/zellij.log'"
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
